<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Blog</title>
</head>
<body>
    <h1>Create New Blog</h1>

    <form action="#" th:action="@{/blog/blogPost}" th:object="${newBlogPost}" th:method="post">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>
        <label>
            <input type="text" th:field="*{title}" th:placeholder="Title" th:required="required">
        </label>
        <br>
        <br>
        <label>
            <input type="date" th:field="*{date}" th:placeholder="Date" th:required="required">
        </label>
        <br>
        <br>
        <label>
            <input type="text" th:field="*{blog}" th:placeholder="Blog" th:required="required" style="width: 150px;">
        </label>
        <br>
        <br>
        <input type="submit" value="Publish"/>
    </form>

</body>
</html>